/**************************************************************
					CMS Pages Styles
***************************************************************/
/* line 10, ../sass/cms.scss */
#cms #center_column .block-cms {
  padding-bottom: 20px;
}
/* line 13, ../sass/cms.scss */
#cms #center_column h1 {
  margin-bottom: 25px;
}
/* line 16, ../sass/cms.scss */
#cms #center_column h3 {
  font-size: 16px;
  border-bottom: none;
  margin: 0;
  padding: 0 0 17px 0;
}
/* line 22, ../sass/cms.scss */
#cms #center_column p {
  line-height: 18px;
  float: left;
  width: 100%;
}
/* line 28, ../sass/cms.scss */
#cms #center_column .list-1 li {
  padding: 4px 0 6px 0;
  border-top: 1px solid #e5e5e5;
}
/* line 31, ../sass/cms.scss */
#cms #center_column .list-1 li:first-child {
  border: none;
}
/* line 34, ../sass/cms.scss */
#cms #center_column .list-1 li em {
  font-size: 20px;
  line-height: 20px;
  padding-right: 15px;
  float: left;
  vertical-align: -2px;
}
/* line 43, ../sass/cms.scss */
#cms #center_column img {
  margin: 4px 0 17px;
  max-width: 100%;
  height: auto;
}
/* line 48, ../sass/cms.scss */
#cms #center_column .testimonials {
  border: 2px solid;
  background: white;
  border-color: #e5e5e5;
  display: table;
  margin: 4px 0 13px 0;
  position: relative;
  clear: left;
}
/* line 56, ../sass/cms.scss */
#cms #center_column .testimonials .inner {
  border: 1px solid white;
  padding: 17px 12px 20px;
}
/* line 60, ../sass/cms.scss */
#cms #center_column .testimonials .inner span.before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  font-family: Georgia, serif;
  font-size: 40px;
  color: #999;
  float: left;
  position: relative;
  top: 9px;
  margin: 0 6px 0 0;
}
/* line 70, ../sass/cms.scss */
#cms #center_column .testimonials .inner span.after {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  font-family: Georgia, serif;
  font-size: 40px;
  color: #999;
  float: right;
  margin: 12px 10px 0 0;
}
/* line 80, ../sass/cms.scss */
#cms #center_column .testimonials:after, #cms #center_column .testimonials:before {
  top: 99%;
  left: 32px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 83, ../sass/cms.scss */
#cms #center_column .testimonials:before {
  border-color: rgba(226, 226, 226, 0);
  border-top-color: #e5e5e5;
  border-width: 11px;
  margin-left: -11px;
}
/* line 86, ../sass/cms.scss */
#cms #center_column .testimonials:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}
/* line 90, ../sass/cms.scss */
#cms #center_column .testimonials + p {
  padding-left: 45px;
  margin-bottom: 18px;
  float: left;
  width: 100%;
}
/* line 97, ../sass/cms.scss */
#cms #center_column p.bottom-indent {
  margin-bottom: 18px;
}
/* line 100, ../sass/cms.scss */
#cms #center_column #admin-action-cms {
  background: none repeat 0 0 #F6F6F6;
  border: 1px solid #d2d0d0;
  padding: 10px;
}
/* line 104, ../sass/cms.scss */
#cms #center_column #admin-action-cms p {
  margin: 0;
}
/* line 106, ../sass/cms.scss */
#cms #center_column #admin-action-cms p span {
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #272727;
}
/* line 113, ../sass/cms.scss */
#cms #center_column #admin-action-cms p .button {
  font: 700 17px/21px "Open Sans", Helvetica, sans-serif;
  padding: 0;
  border: 1px solid;
  padding: 10px 14px;
  display: inline-block;
}
/* line 119, ../sass/cms.scss */
#cms #center_column #admin-action-cms p .button.publish_button {
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #0079b6 #006fa8 #012740 #006fa8;
  background: #009ad0;
  background: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
  background: -webkit-linear-gradient(top, #009ad0 0%, #007ab7 100%);
  background: -o-linear-gradient(top, #009ad0 0%, #007ab7 100%);
  background: -ms-linear-gradient(top, #009ad0 0%, #007ab7 100%);
  background: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0);
}
/* line 131, ../sass/cms.scss */
#cms #center_column #admin-action-cms p .button.publish_button:hover {
  border-color: #01314e #004b74 #0079b6 #004b74;
  filter: none;
  background: #0084bf;
}
/* line 137, ../sass/cms.scss */
#cms #center_column #admin-action-cms p .button.lnk_view {
  color: #111111;
  text-shadow: 1px 1px white;
  border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0);
}
/* line 149, ../sass/cms.scss */
#cms #center_column #admin-action-cms p .button.lnk_view:hover {
  border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;
  filter: none;
  background: #e7e7e7;
}
