/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
/* line 6, ../sass/maintenance.scss */
#body {
  background-color: #F7F7F7;
}

/* line 9, ../sass/maintenance.scss */
#maintenance {
  margin: 50px 0 0 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
@media (min-width: 1200px) {
  /* line 9, ../sass/maintenance.scss */
  #maintenance {
    margin: 126px 0 0 0;
    padding: 50px;
  }
}
/* line 17, ../sass/maintenance.scss */
#maintenance .logo {
  margin: 0 0 31px 0;
  text-align: center;
}
/* line 21, ../sass/maintenance.scss */
#maintenance h1 {
  font: 24px "Dosis", sans-serif;
  color: #111111;
  padding: 0 0 14px 0;
  margin: 0 0 19px 0;
}
/* line 27, ../sass/maintenance.scss */
#maintenance #message {
  font: 14px "Dosis", sans-serif;
  padding: 0 0 0 18px;
  color: #555454;
  text-align: center;
}

/* line 34, ../sass/maintenance.scss */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  /* line 41, ../sass/maintenance.scss */
  .container {
    width: 500px;
  }
}
@media (min-width: 992px) {
  /* line 46, ../sass/maintenance.scss */
  .container {
    width: 500px;
  }
}
@media (min-width: 1200px) {
  /* line 51, ../sass/maintenance.scss */
  .container {
    width: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 56, ../sass/maintenance.scss */
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
