/********************************************************
			Right to Left Styles
********************************************************/
/* line 8, ../sass/rtl.scss */
* {
  direction: rtl !important;
}

/* line 11, ../sass/rtl.scss */
#page {
  text-align: right !important;
}

/* ------------------------------------ TT - Slider ------------------------------------- */
/* line 18, ../sass/rtl.scss */
.owl-wrapper-outer, .bx-viewport,
#homepage-slider .homeslider-description {
  direction: ltr!important;
}

/* Float Right */
/* line 56, ../sass/rtl.scss */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
#currencies-block-top,
#languages-block-top,
.shop-phone,
.nav-tabs > li,
.footer-container #footer #block_contact_infos > div ul li i,
#left_column, #center_column, #right_column,
#subcategories ul li,
.content_sortPagiBar .display, .content_sortPagiBar .display_m,
ul.product_list.list > li .right-block .right-block-content .button-container .btn,
.top-pagination-content .product-count, .bottom-pagination-content .product-count,
.pb-center-column .pb-right-column #buy_block label,
#attributes .attribute_list,
.pb-center-column .pb-right-column .content_prices .our_price_display,
#quantity_wanted_p input,
#quantity_wanted_p .btn,
ul.step li,
.radio-inline .checker, .checkbox .checker,
.cart_block .cart-prices .cart-prices-line span,
#new-products_block_right a.button-small, #special_block_right a.button-small,
.box-info-product p,
.addresses .checkbox.addressesAreEquals,
#new_comment_form .product .product_desc, #new_comment_form .product img, .nomargin.hiddable.col-lg-12 span,
ul.product_list.grid li, ul.tm-carousel li,
ul.product_list.list > li .right-block .right-block-content .ttproducthover .functional-buttons div,
#new_comment_form #criterions_list label,
#new_comment_form #criterions_list .star_content,
header .row #header_logo,
.sf-menu > li > ul > li,
.sf-menu > li,
#module-blockwishlist-mywishlist .wishlistLinkTop li {
  float: right;
}

/* line 81, ../sass/rtl.scss */
.header_user_info,
.ttheader_cart,
.ttpermanent-link,
#search_block_top,
.cart-prices .price,
.cart_block .cart-buttons a,
#contact-link,
.content_sortPagiBar .sortPagiBar .nbrItemPage,
.top-pagination-content .compare-form, .bottom-pagination-content .compare-form,
.top-pagination-content div.pagination, .bottom-pagination-content div.pagination,
.cart_navigation .button-medium,
#header .header_cart,
.cart_block .cart-prices .cart-prices-line span.price,
.top-pagination-content div.pagination .showall, .bottom-pagination-content div.pagination .showall,
.page-heading span.heading-counter,
.content_sortPagiBar .sortPagiBar #productsSortForm,
#product_comments_block_tab .comment_author_infos,
.sf-contener,
#left_column .block .block_content .btn-default, #right_column .block .block_content .btn-default,
.header_nav,
.ttgallary2 .ttgallary-img {
  float: left;
}

/* line 89, ../sass/rtl.scss */
.ttpermanent-link ul#header_links,
.sf-menu > li > ul > li,
.pb-center-column #buy_block label,
#new_comment_form label,
#new_comment_form .product .product_desc {
  text-align: right;
}

/* line 94, ../sass/rtl.scss */
#homepage-slider .homeslider-description,
#send_friend_form .submit {
  text-align: left;
}

/* line 99, ../sass/rtl.scss */
#product p#loyalty::before {
  left: auto;
  right: 0;
}

/* line 103, ../sass/rtl.scss */
.content_scene_cat a.lnk_more {
  float: left;
}

/* line 108, ../sass/rtl.scss */
#right_column .block .title_block {
  text-align: left;
}

/* line 115, ../sass/rtl.scss */
#left_column .block .title_block {
  text-align: right;
}

/* line 125, ../sass/rtl.scss */
#header .cart_block,
.ttpermanent-link ul#header_links,
.header_user_info .ttuser-info,
.cart_block .cart_block_list .remove_link,
.customNavigation,
#categories_block_left li span.grower {
  left: 0;
  right: auto !important;
}

/* line 129, ../sass/rtl.scss */
.ac_results ul li .ttsearch_img {
  float: right !important;
  margin: 0 0 0 20px;
}

/* line 130, ../sass/rtl.scss */
.ac_content {
  float: right!important;
  text-align: right;
}

/* line 131, ../sass/rtl.scss */
#search_block_top.active .ttsearch_button {
  left: 43px;
  right: auto;
}

/* line 132, ../sass/rtl.scss */
.cart_block .cart-info {
  padding: 0 0 0 15px;
  text-align: right;
}

/* line 133, ../sass/rtl.scss */
.sf-menu > li > a.sf-with-ul::after {
  padding: 1px 8px 0 0;
}

/* line 134, ../sass/rtl.scss */
.cart_block .cart-images {
  float: right;
  margin: 0 0 0 15px;
}

/* line 135, ../sass/rtl.scss */
#ttbrandlogo .block_content .customNavigation a.next {
  right: 0;
  left: auto;
  padding: 5px 10px;
}

/* line 136, ../sass/rtl.scss */
#ttbrandlogo .block_content .customNavigation a.prev {
  left: 0;
  right: auto;
  padding: 5px 10px;
}

/* line 137, ../sass/rtl.scss */
.footer-container #footer #block_contact_infos > div ul li i {
  margin: 0 0 0 12px;
}

/* line 138, ../sass/rtl.scss */
.footer-container #footer #block_contact_infos > div ul li .ttcontactinfo {
  padding: 0 20px 0 0;
}

/* line 139, ../sass/rtl.scss */
.sf-menu > li > ul::before {
  left: 0;
  right: 11%;
}

/* line 140, ../sass/rtl.scss */
.footer-container #footer #block_various_links_footer ul li {
  padding: 0 5px 0 8px !important;
  text-align: right;
}

/* line 141, ../sass/rtl.scss */
.tree.dynamized ul {
  margin: 0 15px 0 0;
}

/* line 142, ../sass/rtl.scss */
div.checker span {
  top: 4px;
}

/* line 143, ../sass/rtl.scss */
.block .products-block li .products-block-image {
  float: right;
  margin: 0 0 0 10px;
}

/* line 144, ../sass/rtl.scss */
ul.product_list.list li .right-block {
  float: left;
}

/* line 146, ../sass/rtl.scss */
ul.product_list.list li .left-block {
  float: right;
}
/* line 147, ../sass/rtl.scss */
ul.product_list.list li .center-block {
  float: right;
}
/* line 148, ../sass/rtl.scss */
ul.product_list.list li .comments_note .star_content {
  float: right;
}

/* line 153, ../sass/rtl.scss */
ul.product_list.list > li .right-block .right-block-content .ttproducthover,
ul.product_list.list > li .right-block .right-block-content .ttproducthover .functional-buttons .button-container,
ul.product_list.list > li .right-block .right-block-content .ttproducthover .functional-buttons .wishlist,
ul.product_list.list > li .right-block .right-block-content .ttproducthover .functional-buttons .compare {
  float: right;
}

/* line 154, ../sass/rtl.scss */
ul.product_list.list > li .right-block .right-block-content .ttproducthover .functional-buttons .tooltip {
  left: auto;
  right: 0;
}
/* line 157, ../sass/rtl.scss */
ul.product_list.list > li .right-block .right-block-content .ttproducthover .functional-buttons .tooltip:before {
  left: auto !important;
  right: 22px !important;
}

/* line 162, ../sass/rtl.scss */
#product_comments_block_extra .comments_advices {
  float: right;
}

/* line 163, ../sass/rtl.scss */
.comments_advices a.reviews {
  border-left: 1px solid #d6d4d4;
  border-right: none;
  margin: 0 0 0 9px;
  padding: 0 0 0 20px;
}

/* line 169, ../sass/rtl.scss */
.box-info-product .box-cart-bottom .buttons_bottom_block {
  float: right;
}

/* line 175, ../sass/rtl.scss */
#my-account ul.myaccount-link-list li a i {
  left: auto !important;
  right: 0;
  border-right: 1px solid #e5e5e5;
}
/* line 180, ../sass/rtl.scss */
#my-account ul.myaccount-link-list li a span {
  border-right: none;
  margin: 0 52px 0 0;
}

/* line 189, ../sass/rtl.scss */
#sitemap .categTree ul.tree li {
  background: url(../img/sitemap-rtl.png) no-repeat scroll right 15px transparent !important;
  border-left: none!important;
  border-right: 1px solid #e9e9e9;
  padding: 5px 23px 0 0;
  margin: 0 11px 0 0;
}
/* line 195, ../sass/rtl.scss */
#sitemap .categTree ul.tree li.last {
  background: url(../img/sitemap-last_rtl.png) no-repeat scroll right -4px transparent !important;
  border: none!important;
}

/* line 201, ../sass/rtl.scss */
#sitemap .sitemap_block li a::before {
  padding: 0 0 0 10px;
  content: "\f104";
  font-family: "FontAwesome";
  float: right;
}

/* line 206, ../sass/rtl.scss */
#usefull_link_block li a {
  padding: 0 25px 0 0;
}
/* line 208, ../sass/rtl.scss */
#usefull_link_block li a:before {
  right: 0;
  left: auto;
}
/* line 217, ../sass/rtl.scss */
#usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
  padding: 0 25px 0 0;
}
/* line 219, ../sass/rtl.scss */
#usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
  right: 0;
  left: auto;
}

/* line 226, ../sass/rtl.scss */
.comments_advices a {
  margin: 0;
  padding: 0;
}

/* line 227, ../sass/rtl.scss */
.resetimg #wrapResetImages a {
  padding: 0 7px 0 0;
}

/* line 228, ../sass/rtl.scss */
.resetimg #wrapResetImages a i {
  left: auto;
  right: -7px;
}

/* line 230, ../sass/rtl.scss */
.tt-tabcontent #productpage_tab li {
  margin: 0 0 0 4px;
}

/*-------------------------- Payment --------------------*/
/* line 234, ../sass/rtl.scss */
p.payment_module a {
  padding: 15px 60px 15px 15px;
}
/* line 236, ../sass/rtl.scss */
p.payment_module a:before {
  left: auto;
  right: 15px;
  margin: 0 0 0 15px;
}
/* line 242, ../sass/rtl.scss */
p.payment_module a.cheque:after, p.payment_module a.bankwire:after, p.payment_module a.cash:after {
  content: "\f053";
  left: 15px;
  right: auto;
}

/* line 250, ../sass/rtl.scss */
#favoriteproducts_block_account .favoriteproduct .remove {
  left: 10px;
  right: auto;
}

/*---------------------------------Add to Cart---------------------------------*/
/* line 253, ../sass/rtl.scss */
#layer_cart .layer_cart_product h2 i {
  float: right;
  padding: 0 0 0 8px;
}

/*---------------------------------Quick View---------------------------------*/
/* line 256, ../sass/rtl.scss */
.pb-center-column h1, .pb-center-column #product_reference, .pb-center-column p {
  text-align: right;
  float: right;
  width: 100%;
}

/* line 257, ../sass/rtl.scss */
#availability_statut, #pQuantityAvailable {
  float: right;
}

/* line 258, ../sass/rtl.scss */
.content_only .buttons_bottom_block #wishlist_button {
  padding: 0 0 0 6px;
}

/* line 259, ../sass/rtl.scss */
#product.content_only div.primary_block div.pb-center-column {
  padding: 20px 0px 60px 20px;
}

/* line 264, ../sass/rtl.scss */
#layer_cart .layer_cart_product h2 {
  padding: 0 0 0 100px;
}
/* line 265, ../sass/rtl.scss */
#layer_cart .layer_cart_product .product-image-container {
  float: right;
  margin: 0 0 0 30px;
}
/* line 267, ../sass/rtl.scss */
#layer_cart .crossseling #blockcart_list .bx-controls {
  left: 0;
  right: auto;
}
/* line 268, ../sass/rtl.scss */
#layer_cart .layer_cart_cart {
  border-right: 1px solid #e5e5e5;
  border-left: none;
}

/*------------------------Store-------------------*/
/* line 271, ../sass/rtl.scss */
#stores .radius-input, #stores .address-input {
  float: right;
}

/*------------------------Contact-------------------*/
/* line 274, ../sass/rtl.scss */
div.uploader span.filename, div.uploader span.action {
  float: right !important;
}

/* line 275, ../sass/rtl.scss */
.contact-form-box .submit {
  text-align: left;
}

/*------------------------About-------------------*/
/* line 278, ../sass/rtl.scss */
#cms #center_column .list-1 li {
  text-align: right;
}

/* line 279, ../sass/rtl.scss */
#cms #center_column .list-1 li em {
  padding-left: 12px;
  padding-right: 0;
}

/*------------------------Register & My Account ------------------*/
/* line 286, ../sass/rtl.scss */
.account_creation .col-xs-4,
.addresses .select label,
.addresses .selector,
.addresses .addresses .address_select {
  float: right;
}

/* line 287, ../sass/rtl.scss */
#account-creation_form p.required, #new_account_form p.required, #opc_account_form p.required, #authentication p.required {
  float: left !important;
}

/* line 289, ../sass/rtl.scss */
ul.footer_links li {
  float: right;
}
/* line 291, ../sass/rtl.scss */
ul.footer_links li + li {
  margin: 0 10px 0 0;
}

/* line 297, ../sass/rtl.scss */
.ttblog-content li .ttblog-content {
  text-align: right;
  float: right !important;
}

/* line 298, ../sass/rtl.scss */
#usefull_link_block, #product_comments_block_tab a, #product_comments_block_tab div.comment .comment_author span {
  float: right;
}

/* line 299, ../sass/rtl.scss */
#usefull_link_block li:first-child {
  border: medium none;
  padding: 0;
}

/* line 300, ../sass/rtl.scss */
.tt-tabcontent .tab-content, #product_comments_block_tab div.comment .comment_details {
  text-align: right;
}

/* line 301, ../sass/rtl.scss */
#product_comments_block_tab div.comment .comment_author {
  padding: 0 0 0 20px;
  text-align: right;
}

/* line 302, ../sass/rtl.scss */
#product_comments_block_tab div.comment .comment_details {
  border-right: 1px solid #cccccc;
  border-left: none;
}

/* line 303, ../sass/rtl.scss */
.rte ul {
  padding: 0 15px 0 0;
}

/* line 304, ../sass/rtl.scss */
.table-data-sheet tr td:first-child {
  border-left: 1px solid #cccccc;
  border-right: none;
}

/* line 305, ../sass/rtl.scss */
table td, table th {
  text-align: right;
}

/* line 306, ../sass/rtl.scss */
.tt-tabcontent #producttab li:first-child {
  margin: 0 0 0 20px;
}

/* line 307, ../sass/rtl.scss */
.ttbreadcrumb-bg .container .breadcrumb-img {
  left: 0;
  right: auto;
}

/* line 308, ../sass/rtl.scss */
#product p#loyalty {
  padding: 0 25px 0 0;
}

/* line 309, ../sass/rtl.scss */
.star a {
  font-size: 0;
}

/* line 310, ../sass/rtl.scss */
#product_comments_block_extra .comments_note {
  border-left: 1px solid #cccccc;
  border-right: medium none;
  float: right;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
}

/* line 311, ../sass/rtl.scss */
.contact-form-box .col-md-5 {
  padding: 0 0 0 15px;
}

/* line 312, ../sass/rtl.scss */
#cms #center_column .testimonials + p {
  float: right;
  width: 100%;
}

/* line 313, ../sass/rtl.scss */
#stores .store-title {
  float: right;
  text-align: right;
  width: 100%;
}
/* line 314, ../sass/rtl.scss */
#stores .store-title .dark {
  float: right;
}

/* line 316, ../sass/rtl.scss */
#favoriteproducts_block_account .favoriteproduct a.product_img_link {
  margin: 0 0 0 14px;
}

/* line 319, ../sass/rtl.scss */
.ttblog-content li.item .ttblog_image_holder {
  float: right;
}

/* line 320, ../sass/rtl.scss */
#ttcmsfooter {
  float: right;
  text-align: right;
}

/* line 321, ../sass/rtl.scss */
.pagination {
  float: left;
}

/* line 324, ../sass/rtl.scss */
#ttbrandlogo .customNavigation a.next i:after, #ttbrandlogo .customNavigation a.prev i::after {
  content: "";
}
/* line 327, ../sass/rtl.scss */
#ttbrandlogo .customNavigation a.next i:before {
  content: "\f105";
}
/* line 330, ../sass/rtl.scss */
#ttbrandlogo .customNavigation a.prev i:before {
  content: "\f104";
}

/* line 334, ../sass/rtl.scss */
.ttnewsletter-desc {
  float: left;
}

/* line 335, ../sass/rtl.scss */
#currencies-block-top {
  float: left;
}

/* line 338, ../sass/rtl.scss */
#languages-block-top ul,
#currencies-block-top ul,
#ttcmsservices .col-sm-3 .ttcontent_inner .service .service-content {
  text-align: right;
}

/* line 339, ../sass/rtl.scss */
.header_user_info .ttuser_link {
  right: auto;
  left: 0;
}

/* line 340, ../sass/rtl.scss */
.footer-container #footer #social_block {
  float: right!important;
}

/* line 341, ../sass/rtl.scss */
#footer #newsletter_block_left {
  float: right;
  border-left: medium none;
  border-right: 1px solid #dfdfdf;
}

/* line 342, ../sass/rtl.scss */
.footer-container #footer #block_various_links_footer {
  padding: 0;
  float: right;
}

/* line 343, ../sass/rtl.scss */
.shop-phone {
  padding: 12px 30px 7px 0;
}

/* line 344, ../sass/rtl.scss */
.shop-phone:before {
  right: 15px;
  left: auto;
  transform: rotate(-135deg);
}

/* line 345, ../sass/rtl.scss */
.breadcrumb .navigation-pipe:after {
  content: "\f104";
}

/* line 346, ../sass/rtl.scss */
.content_sortPagiBar .display li, .content_sortPagiBar .display_m li {
  float: right;
  margin: 0 0 0 12px;
}

/* line 347, ../sass/rtl.scss */
.content_sortPagiBar.clearfix .sortPagiBar.clearfix *::before {
  right: 0;
  left: auto;
}

/* line 348, ../sass/rtl.scss */
.ttblog-content li .ttblog_image_holder {
  float: right;
}

/* line 349, ../sass/rtl.scss */
.ttblog-content li .ttblog-content .tthover-content .ttviews, .ttblog-content li .ttblog-content .tthover-content .ttcomment, .ttblog-content li .ttblog-content .tthover-content .ttauthor, .ttblog-content li .ttblog-content .tthover-content .ttcategory, .ttblog-content li .ttblog-content .tthover-content .ttpostby {
  float: right;
  margin: 0 0px 0 10px;
}

/* line 350, ../sass/rtl.scss */
#footer #newsletter_block_left h4 {
  float: right;
}

/* line 351, ../sass/rtl.scss */
#footer #newsletter_block_left .form-group .form-control {
  padding: 6px 15px 6px 55px;
}

/* line 352, ../sass/rtl.scss */
#search_block_top .btn.button-search {
  left: 2px;
  right: auto;
}

/* line 353, ../sass/rtl.scss */
#ttcmstestimonial .tttestimonial-content .tttestimonial-inner .user-img {
  float: right;
}

/* line 354, ../sass/rtl.scss */
.ttblog-content li .ttblog_image_holder .tthover-content .ttviews, .ttblog-content li .ttblog_image_holder .tthover-content .ttcomment, .ttblog-content li .ttblog_image_holder .tthover-content .ttauthor, .ttblog-content li .ttblog_image_holder .tthover-content .ttcategory, .ttblog-content li .ttblog_image_holder .tthover-content .ttpostby {
  float: right;
}

/* line 355, ../sass/rtl.scss */
.ttblog-content li .ttblog_image_holder .tthover-content .ttblog-detail {
  float: left;
}

/* line 356, ../sass/rtl.scss */
#smartblogcat li .ttblog-content {
  text-align: right;
}

/* line 357, ../sass/rtl.scss */
#ttblogCategory img {
  float: right;
}

/* line 358, ../sass/rtl.scss */
#ttblogCategory .ttblog-content {
  padding: 20px 20px 20px 0;
}

/* line 359, ../sass/rtl.scss */
#footer #newsletter_block_left .tt-content {
  text-align: right;
  padding-right: 50px;
  padding-left: 0px;
}

/* line 360, ../sass/rtl.scss */
#footer #newsletter_block_left .tt-content::after {
  right: 0;
  left: auto;
}

/* line 361, ../sass/rtl.scss */
#footer #newsletter_block_left .tt-content {
  padding: 0 30px 0 40px;
}

/* line 362, ../sass/rtl.scss */
#footer #newsletter_block_left .form-group .button-small {
  left: 0;
  right: auto;
}

/* line 363, ../sass/rtl.scss */
#wishlist_button::before, #wishlist_button_nopop::before {
  margin: 0 0 0 10px;
}

/* line 364, ../sass/rtl.scss */
.footer-container #footer #block_various_links_footer ul li {
  border-left: 1px solid;
  border-right: none;
}

/* line 365, ../sass/rtl.scss */
.ttsmartblog #ttsmartblog-carousel .owl-controls .owl-pagination {
  padding: 20px 20px 20px 0;
  left: 10px;
  right: auto;
}

/* line 366, ../sass/rtl.scss */
#ttcmsservice .ttservice .ttcms-desc .main-title {
  text-align: right;
  right: 200px;
  left: auto;
}

/* line 367, ../sass/rtl.scss */
.goToTop {
  left: 36px;
  right: auto;
}

/* ------------------- tt cms services --------------------- */
/* line 369, ../sass/rtl.scss */
#ttcmsservices .ttservicebanner, #ttcmsservices .services .ttservices-inner .col-sm-12 .ttcontent_inner .service .service-icon {
  float: right;
}

/* line 370, ../sass/rtl.scss */
#ttcmsservices .services .ttservices-inner .col-sm-12 .ttcontent_inner .service .service-icon {
  margin: 0 0 0 10%;
}

/* line 371, ../sass/rtl.scss */
#ttcmsservices .services .ttservices-inner .col-sm-12 .ttcontent_inner .service .service-content .service-title::before {
  right: 0;
  left: auto;
}

/* line 372, ../sass/rtl.scss */
.content_prices p {
  width: auto;
}

/* line 373, ../sass/rtl.scss */
.content_prices p#reduction_percent {
  margin: 6px 8px 0;
}

/* line 374, ../sass/rtl.scss */
#ttcmsservices .ttcmsservice > div.col-sm-3 .ttcontent_inner .service .service-content {
  margin: 0 10px 0 0;
  text-align: right;
}

/* line 375, ../sass/rtl.scss */
ul.step li {
  text-align: right;
  margin: 0;
}

/* line 376, ../sass/rtl.scss */
ul.step li::after {
  right: 45px;
  left: 0;
}

/* line 377, ../sass/rtl.scss */
ul.step li:last-child::before {
  right: auto;
  left: 0;
}

/* line 378, ../sass/rtl.scss */
.ttheader_cart {
  margin: 0 0 0 25px;
}

/* line 379, ../sass/rtl.scss */
#product .sale-box {
  right: auto;
  left: 10px;
}

/* line 380, ../sass/rtl.scss */
header #header_logo {
  float: right;
}

/* line 381, ../sass/rtl.scss */
header #header_logo > a {
  float: right;
  padding: 0 50px 0 0;
}

/* line 382, ../sass/rtl.scss */
.content_sortPagiBar .sortPagiBar label {
  padding: 4px 0 0 10px;
}

/* line 383, ../sass/rtl.scss */
ul.product_list.list > li .product-image-container {
  border-left: 1px solid #e5e5e5;
  border-right: none!important;
}

/* line 384, ../sass/rtl.scss */
#ttcmsservices .ttcmsservice .ttsaving {
  border-left: 1px solid #000000;
  border-right: none;
}

/* line 385, ../sass/rtl.scss */
.ttblog-content li.item .ttblog_image_holder .tthover-content {
  text-align: center;
}

/* line 386, ../sass/rtl.scss */
ul.product_list.list > li .product-container .row .right-block .right-block-content .ttproducthover .functional-buttons div {
  float: right;
}

/* line 387, ../sass/rtl.scss */
ul.product_list.list > li .product-container .row .right-block .right-block-content .ttproducthover .functional-buttons .button-container .button.ajax_add_to_cart_button {
  padding: 13px 50px 10px 20px;
}

/* line 388, ../sass/rtl.scss */
ul.product_list.list > li .product-container .row .right-block .right-block-content .ttproducthover .functional-buttons .button-container .button.ajax_add_to_cart_button::before {
  right: 20px;
  left: auto;
}

/* line 389, ../sass/rtl.scss */
#ttfashioncmstab .ttfashioncmstab-main .tabs .tab-links li {
  margin: 0 0 0 10px;
}

/* line 390, ../sass/rtl.scss */
#ttfashioncmstab .ttfashioncmstab-main .tabs .tab-links li a::before {
  float: right;
}

/* line 391, ../sass/rtl.scss */
#ttfashioncmstab .ttfashioncmstab-main .tabs .tttab-content .ttblock-content .ttcontent .ttservice_main_service .ttservice1::before, #ttfashioncmstab .ttfashioncmstab-main .tabs .tttab-content .ttblock-content .ttcontent .ttservice_main_service .ttservice2::before, #ttfashioncmstab .ttfashioncmstab-main .tabs .tttab-content .ttblock-content .ttcontent .ttservice_main_service .ttservice3::before, #ttfashioncmstab .ttfashioncmstab-main .tabs .tttab-content .ttblock-content .ttcontent .ttservice_main_service .ttservice4::before {
  margin: 0 0 0 10px;
}

/* line 392, ../sass/rtl.scss */
#ttfashioncmstab .ttfashioncmstab-main .tabs .tttab-content .ttblock-content .ttcontent .ttservice_main_service .ttservice1, #ttfashioncmstab .ttfashioncmstab-main .tabs .tttab-content .ttblock-content .ttcontent .ttservice_main_service .ttservice2, #ttfashioncmstab .ttfashioncmstab-main .tabs .tttab-content .ttblock-content .ttcontent .ttservice_main_service .ttservice3, #ttfashioncmstab .ttfashioncmstab-main .tabs .tttab-content .ttblock-content .ttcontent .ttservice_main_service .ttservice4 {
  float: right;
  text-align: center;
}

/* line 393, ../sass/rtl.scss */
.shopping_cart > a:first-child {
  background: rgba(0, 0, 0, 0) url("../img/templatetrip/sprite.png") no-repeat scroll -10px -171px;
}

/* line 394, ../sass/rtl.scss */
.shopping_cart > a:first-child:hover {
  background-position: -10px -110px;
}

/* line 395, ../sass/rtl.scss */
.ajax_cart_quantity, .ajax_cart_no_product.unvisible, .ajax_cart_no_product {
  left: 10px;
  right: auto;
}

/* line 396, ../sass/rtl.scss */
#address .form-group label, #identity .form-group label, #account-creation_form .form-group label, #new_account_form .form-group label, #opc_account_form .form-group label, #authentication .form-group label {
  float: right;
}

/* line 397, ../sass/rtl.scss */
#login_form .form-group.lost_password {
  margin: 14px 32% 15px 0;
}

/* line 398, ../sass/rtl.scss */
.form_content .submit {
  margin: 0 32% 0 0;
  float: right;
}

/* line 399, ../sass/rtl.scss */
ul.product_list.list > li .product-container .row .color-list-container {
  float: right;
  margin-left: 5px;
}

/* line 400, ../sass/rtl.scss */
.header_user_info .ttuser_link .ttpermanent-link ul#header_links {
  text-align: right;
}

/* line 401, ../sass/rtl.scss */
#ttfashioncmstab .ttfashioncmstab-main .tabs .tab-links li a::after {
  left: auto;
  right: 0;
}

/* line 402, ../sass/rtl.scss */
.sale-box {
  left: 10px;
  right: auto;
}

/* line 404, ../sass/rtl.scss */
#ttcmspurchase .ttcmspurchase-subtitle {
  float: right;
  clear: right;
  text-align: right;
}

/* line 405, ../sass/rtl.scss */
#ttcmspurchase .ttcmspurchase-title::after {
  left: auto;
  right: 0;
}

/* line 406, ../sass/rtl.scss */
#ttspeciallist .tttitle-block .title_block .ttblock-heading::before {
  left: 0;
  right: auto;
}

/* line 407, ../sass/rtl.scss */
#ttspeciallist .tttitle-block .title_block .ttblock-heading {
  text-align: left!important;
}

/* line 408, ../sass/rtl.scss */
#ttcmspurchase .ttcmspurchase-subtitle::before {
  right: 0;
  left: auto;
}

/* line 409, ../sass/rtl.scss */
#ttcmspurchase .ttcmspurchase-title {
  float: right;
  clear: right;
}

/* line 410, ../sass/rtl.scss */
#ttcmspurchase .ttcmspurchase-btn {
  float: left;
}

/* line 411, ../sass/rtl.scss */
#ttcmscategory .ttsubcategory1 {
  float: left;
}

/* line 412, ../sass/rtl.scss */
.ttsmartblog #ttsmartblog-carousel li .ttblog-content {
  padding: 0 30px 0 0;
}

/* line 414, ../sass/rtl.scss */
#ttcmsappstore .ttcmsappstore-content .ttcmsapp .ttcmsapp-content {
  text-align: right;
}

/* line 415, ../sass/rtl.scss */
#ttcmsbanner .ttcmsbanner .ttcmscontent::after {
  right: 0;
  left: auto;
}

/* line 416, ../sass/rtl.scss */
#ttcmsbanner .ttcmsbanner .ttcmscontent .title_block {
  text-align: right;
}

/* line 417, ../sass/rtl.scss */
#ttcmsbanner .ttcmsbanner .ttcmscontent .ttcmsdesc {
  text-align: right;
}

/* line 418, ../sass/rtl.scss */
#ttcmsbanner .ttcmsbanner .ttcmsimg > img {
  float: left;
}

/* line 419, ../sass/rtl.scss */
#ttcmsbanner .ttcmsbanner .ttcmsimg .img, #ttcmsbanner .ttcmsbanner .ttcmscontent .title_block .ttblock-heading::before {
  left: auto;
  right: 0;
}

/* line 420, ../sass/rtl.scss */
.title_block .ttblock-heading::after, .tthometab-title::after {
  right: -42px;
  left: auto;
}

/* line 421, ../sass/rtl.scss */
#ttspeciallist .tttitle-block {
  float: left;
}

/* line 422, ../sass/rtl.scss */
#ttspeciallist .tttitle-block .title_block {
  right: -80px;
  left: auto;
}

/* line 423, ../sass/rtl.scss */
#ttcounter .ttcmscounter.container .ttcmscounter-content .counter-content .ttcounter::after {
  left: 0;
  right: auto;
}

/* line 424, ../sass/rtl.scss */
.footer-container #footer #block_contact_infos {
  text-align: right;
}

/* line 425, ../sass/rtl.scss */
.footer-container #footer #social_block ul li {
  margin: 0 0 0 5px;
}

/* line 426, ../sass/rtl.scss */
#search_block_top.active .ttsearch_button::after {
  margin: 0 10px 0 0;
}

/* line 427, ../sass/rtl.scss */
#search_block_top .btn.button-search {
  background: transparent url("../../../img/templatetrip/search-sprite.png") no-repeat scroll 7px -84px;
}

/* line 428, ../sass/rtl.scss */
.footer-container #footer .footer-block {
  padding: 0 0 0 30px;
}

/* line 429, ../sass/rtl.scss */
.header_user_info .ttuser_link::after {
  left: 10px;
  right: auto;
}

/* line 430, ../sass/rtl.scss */
#header .cart_block::after {
  left: 30px;
  right: auto;
}

/* line 431, ../sass/rtl.scss */
#block_top_menu .category-thumbnail {
  float: right;
}

@media (max-width: 1200px) {
  /* line 434, ../sass/rtl.scss */
  .sf-menu > li {
    float: none;
  }
}
@media (max-width: 991px) {
  /* line 438, ../sass/rtl.scss */
  .cat-title::after {
    left: 15px;
    right: auto;
  }

  /* line 439, ../sass/rtl.scss */
  .footer-container #footer h4::after {
    left: 10px;
    right: auto;
  }

  /* line 440, ../sass/rtl.scss */
  .sf-menu {
    text-align: right;
  }

  /* line 441, ../sass/rtl.scss */
  .sf-menu > li span {
    left: 0;
    right: auto;
  }

  /* line 442, ../sass/rtl.scss */
  .sf-menu li li ul {
    margin: 0 15px 0 0;
  }

  /* line 443, ../sass/rtl.scss */
  .footer-container #footer #block_various_links_footer ul li {
    border: none;
    padding: 0;
    text-align: right;
  }

  /* line 444, ../sass/rtl.scss */
  #left_column .block h4::after, #left_column .block .title_block::after, #right_column .block h4::after, #right_column .block .title_block::after {
    left: 5px;
    right: auto;
  }

  /* line 445, ../sass/rtl.scss */
  #left_column .block .block_content, #right_column .block .block_content {
    padding: 0 15px 0 10px;
  }

  /* line 446, ../sass/rtl.scss */
  .footer-container #footer #social_block ul, .footer-container #footer .paiement_logo_block ul {
    text-align: right;
  }

  /* line 447, ../sass/rtl.scss */
  #footer #newsletter_block_left .block_content {
    text-align: right;
    float: right;
  }

  /* line 448, ../sass/rtl.scss */
  #ttcmsservices .services .ttservices-inner .col-sm-12 .ttcontent_inner .service .service-icon {
    margin: 0 0 0 20px;
  }

  /* line 449, ../sass/rtl.scss */
  .footer-container #footer #block_various_links_footer {
    padding: 0;
  }

  /* line 450, ../sass/rtl.scss */
  .header_nav {
    padding: 0;
    left: 0;
    right: auto;
  }

  /* line 452, ../sass/rtl.scss */
  #ttcmsservices .col-sm-3 .ttcontent_inner,
  #ttcmsservices .col-sm-3 .ttcontent_inner .service .service-icon {
    text-align: right;
  }

  /* line 453, ../sass/rtl.scss */
  #ttcmsfooter .ttfooter-logo {
    text-align: center;
  }

  /* line 454, ../sass/rtl.scss */
  .ttheader_cart {
    margin: 0;
  }

  /* line 455, ../sass/rtl.scss */
  .ttblog-content li.item .ttblog_image_holder .right-block, #index .ttblog-content li.item .ttblog_image_holder .tthover-content {
    text-align: center;
  }

  /* line 456, ../sass/rtl.scss */
  .ttblog-content li.item .ttblog_image_holder .ttbloglinks {
    text-align: center;
  }

  /* line 458, ../sass/rtl.scss */
  .ttblog-content li.item .ttblog_image_holder .tthover-content .ttviews, .ttblog-content li.item .ttblog_image_holder .tthover-content .ttcomment, .ttblog-content li.item .ttblog_image_holder .tthover-content .ttauthor, .ttblog-content li.item .ttblog_image_holder .tthover-content .ttcategory, .ttblog-content li.item .ttblog_image_holder .tthover-content .ttpostby, .ttblog-content li.item .ttblog_image_holder .tthover-content .ttblog-detail {
    float: none;
  }

  /* line 461, ../sass/rtl.scss */
  header #header_logo {
    float: none;
  }

  /* line 464, ../sass/rtl.scss */
  header #header_logo > a {
    float: none;
    padding: 0;
  }

  /* line 468, ../sass/rtl.scss */
  .ttnewsletter-desc {
    width: 100%;
  }

  /* line 469, ../sass/rtl.scss */
  .footer-container #footer .footer-block .toggle-footer {
    text-align: right;
  }

  /* line 470, ../sass/rtl.scss */
  .footer-container #footer h4, .footer-container #footer #social_block h4, #footer #newsletter_block_left .ttdesc, .footer-container #footer #social_block .ttdesc {
    text-align: right;
  }

  /* line 471, ../sass/rtl.scss */
  #ttcmsfooter {
    border: none;
  }

  /* line 472, ../sass/rtl.scss */
  #ttcmsbanner .ttcmsbanner .ttcmsimg .img {
    bottom: -70px;
    right: -50px;
  }

  /* line 476, ../sass/rtl.scss */
  #ttspeciallist .tttitle-block .title_block {
    right: -60px;
    left: auto;
  }

  /* line 480, ../sass/rtl.scss */
  #block_top_menu {
    padding: 0 0 0 130px;
  }

  /* line 483, ../sass/rtl.scss */
  #ttspeciallist .tttitle-block .title_block .ttblock-heading::before {
    left: 0;
    right: 0;
  }
}
@media (max-width: 767px) {
  /* line 491, ../sass/rtl.scss */
  .breadcrumb {
    text-align: center;
  }

  /* line 492, ../sass/rtl.scss */
  #ttdownload .btn-block {
    width: 100%;
    padding: 0 10px;
  }

  /* line 493, ../sass/rtl.scss */
  header .row #header_logo {
    float: none;
  }

  /* line 494, ../sass/rtl.scss */
  .ttfooter-logo {
    text-align: center !important;
  }

  /* line 495, ../sass/rtl.scss */
  .ttblog-content li.item .ttblog-content .ttblog-desc {
    padding: 0 0 0 30px;
  }

  /* line 496, ../sass/rtl.scss */
  #ttcmsservices .services .ttservices-inner .service-title {
    float: right;
  }

  /* line 497, ../sass/rtl.scss */
  #ttcmsservices .services .ttservices-inner .col-sm-12 .ttcontent_inner .service .service-icon {
    margin: 0 0 0 30px;
  }

  /* line 498, ../sass/rtl.scss */
  #footer #newsletter_block_left .tt-content {
    text-align: center;
  }

  /* line 499, ../sass/rtl.scss */
  #footer #newsletter_block_left h4 {
    float: none;
  }

  /* line 500, ../sass/rtl.scss */
  .ttimg {
    float: none;
  }

  /* line 501, ../sass/rtl.scss */
  #ttcmsservices .ttcmsservice > div.col-sm-3 .ttcontent_inner .service .service-content {
    text-align: center;
  }

  /* line 502, ../sass/rtl.scss */
  #ttcmsservices .ttcmsservice .ttsaving {
    border: none;
  }

  /* line 503, ../sass/rtl.scss */
  #ttcmsservices .ttcmsservice {
    padding: 0 15px 20px !important;
  }

  /* line 504, ../sass/rtl.scss */
  #ttcmsbanner .ttcmsbanner .ttcmsimg .img {
    right: 100px;
    left: auto;
  }

  /* line 505, ../sass/rtl.scss */
  #ttcmsbanner .ttcmsbanner .ttcmsimg .img {
    right: 100px;
    left: auto;
  }

  /* line 509, ../sass/rtl.scss */
  #ttcounter .ttcmscounter.container .ttcmscounter-content .counter-content .ttcounter.counter3.ttcounter::after {
    display: block!important;
  }

  /* line 510, ../sass/rtl.scss */
  #ttcounter .ttcmscounter.container .ttcmscounter-content .counter-content .ttcounter.counter4.ttcounter::after {
    display: none!important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 515, ../sass/rtl.scss */
  #ttblogCategory img {
    padding: 30px 30px 0;
  }

  /* line 516, ../sass/rtl.scss */
  #ttcmssubbanners .ttsubbannerblock .ttsubbanner {
    float: right;
  }
}
@media (max-width: 480px) {
  /* line 521, ../sass/rtl.scss */
  #home-page-tabs > li a::before {
    display: none;
  }

  /* line 522, ../sass/rtl.scss */
  ul.product_list.list > li .right-block .right-block-content .ttproducthover .functional-buttons div {
    float: none !important;
    display: inline-block;
  }

  /* line 523, ../sass/rtl.scss */
  .ttblog-content li .ttblog-content {
    padding: 0;
  }

  /* line 524, ../sass/rtl.scss */
  #footer #newsletter_block_left .tt-content {
    padding: 0;
  }

  /* line 525, ../sass/rtl.scss */
  #footer #newsletter_block_left .form-group .button-small, #footer #newsletter_block_left .form-group .form-control {
    float: none;
  }

  /* line 526, ../sass/rtl.scss */
  #ttcmsservices .services .ttservices-inner .col-sm-12 .ttcontent_inner .service .service-icon {
    margin: 0 0 15px 10px;
  }

  /* line 528, ../sass/rtl.scss */
  #ttcmstestimonial .ttcms-desc .tttestimonial-content ul li .testimonial-content,
  .ttsmartblog .ttblog-detail {
    text-align: center;
  }

  /* line 529, ../sass/rtl.scss */
  #ttfashioncmstab .ttfashioncmstab-main .tabs .tab-links li a::before {
    float: none;
    margin: 0 0 0 10px;
  }

  /* line 530, ../sass/rtl.scss */
  #ttfashioncmstab .ttfashioncmstab-main .tabs .tab-links li a::after {
    left: auto;
    right: 50px;
  }

  /* line 531, ../sass/rtl.scss */
  #ttcmspurchase .ttcmspurchase-btn {
    float: right;
    clear: right;
  }

  /* line 532, ../sass/rtl.scss */
  #ttcmsbanner .ttcmsbanner .ttcmsimg .img {
    left: auto;
    right: -20px;
  }

  /* line 533, ../sass/rtl.scss */
  #ttcounter .ttcmscounter.container .ttcmscounter-content .counter-content .ttcounter .counter-desc {
    font-size: 12px;
  }

  /* line 534, ../sass/rtl.scss */
  #ttcmspurchase .ttcmspurchase-title {
    text-align: right;
  }
}
